


<div class="row">
    <div class="col-12">
        <div class="card">

            <div class="card-header">
                <div class="card-title">Editar Equipo</div>

            </div>
            <div class="card-body">
                <%= render 'form', mobile: @mobile %>

            </div>
        </div>
    
    </div>
</div>


<%= link_to 'Show', @mobile, class: 'btn btn-link'  %> |
<%= link_to 'Back', mobiles_path, class: 'btn btn-link' %>

