<!DOCTYPE html>
<html>
<head>
	
</head>
<body>
	<!--<%= image_tag "equipo4.png", html: {alt: "Imagen equipo4"} %> -->
	<a>
<div class="card" style="width: 18rem;">
  <%= image_tag "equipo4.png", html: {alt: "Imagen equipo4"} %>
  <div class="card-body">
    <h5 class="card-title"></h5>
    <p class="card-text"></p>
    <a href="#" class="btn btn-primary">Lo quiero</a>
  </div>
</div>
	</a>
</body>
</html>


