<!DOCTYPE html>
<html>
<head>
	
</head>
<body>
	<a>
<div class="card" style="width: 18rem;">
  <%= image_tag "equipo4.png", html: {alt: "Imagen equipo4"} %>
  <div class="card-body">
    <h5 class="card-title"></h5>
    <p class="card-text"></p>
    <div class="container">
    <a href="#" class="btn btn-primary">Lo quiero</a>
    <a href="#" class="btn btn-primary">Detalles</a>


<div class="card" style="width: 18rem;">
    <%= image_tag "equipo1.png", html: {alt: "Imagen equipo1"} %>
  <div class="card-body">
    <h5 class="card-title"></h5>
    <p class="card-text"></p>
    <div class="container">
    <a href="#" class="btn btn-primary">Lo quiero</a>
    <a href="#" class="btn btn-primary">Detalles</a>

  </div>
</div>
	</a>
</body>
</html>


