<!DOCTYPE html>
<html>
<head>
    <style type="text/css">

        .imagen-style{
/*            display: block;
            float:left;
            box-sizing: border-box;*/
            flex-direction: row-reverse;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            max-width: 300px;
            margin: auto;
            text-align: center;
            font-family: arial;
        }

    </style>
</head>
<body>
    <!-- <div class="catalogo" style="border: solid"> -->

        <div class="card imagen-style" style="border-bottom: 0;">
            <%= image_tag "equipo4.jpg", html: {alt: "Imagen equipo4"} %>
            <div>
                <a href="#" class="btn btn-primary">Lo quiero</a>
                <a href="equipos/samsungs10" class="btn btn-primary">Detalles</a>
            </div>
        </div>

        <br>
        <br>
        
        <div class="card imagen-style" style="border-bottom: 0;">
            <%= image_tag "equipo1.jpg", html: {alt: "Imagen equipo1"} %>
            <div>
                <a href="#" class="btn btn-primary">Lo quiero</a>
                <a href="equipos/samsumga51" class="btn btn-primary">Detalles</a>
            </div>
        </div>

        <br>
        <br>

        <div class="card imagen-style" style="border-bottom: 0;">
            <%= image_tag "equipo2.jpg", html: {alt: "Imagen equipo2"} %>
            <div>
                <a href="#" class="btn btn-primary">Lo quiero</a>
                <a href="equipos/motorolla" class="btn btn-primary">Detalles</a>
            </div>
        </div>

        <br>
        <br>

        <div class="card imagen-style" style="border-bottom: 0;">
            <%= image_tag "equipo3.jpg", html: {alt: "Imagen equipo3"} %>
            <div>
                <a href="#" class="btn btn-primary">Lo quiero</a>
                <a href="equipos/huaweip40" class="btn btn-primary">Detalles</a>
            </div>
        </div>
    </div>

</body>
</html>


