
    <div class="catalogo">

        <div class="row">
            <div class="product-card col-6 col-md-3">
                <div class="product-image">
                    <%= image_tag "equipo4.jpg", html: {alt: "Imagen equipo4"} %>
                </div>
            <!--<div class="product-info">
                    <h5>Precio al contado</h5>
                    <h6>S/ 2799</h6>
            </div>-->
                <div class="row">
                    <a href="equipos/samsungs10" class="btn btn-link col-6">Detalles</a>
                    <a href="#" class="btn btn-primary d-inline-block">Lo quiero</a>
                </div>
            </div>

            <div class="product-card col-6 col-md-3">
                <div class="product-image">
                    <%= image_tag "equipo1.jpg", html: {alt: "Imagen equipo1"} %>
                </div>


                
                <!--<div class="product-info">
                    <h5>Precio al contado</h5>
                    <h6>S/ 1429</h6>
                </div> -->
                <div class="row">
                    <a href="equipos/samsumga51" class="btn btn-link col-6">Detalles</a>
                    <a href="#" class="btn btn-primary d-inline-block">Lo quiero</a>
                   
                </div>
            </div>

            <div class="product-card col-6 col-md-3">
                <div class="product-image">
                    <%= image_tag "equipo2.jpg", html: {alt: "Imagen equipo2"} %>
                </div>
                <!--<div class="product-info">
                    <h5>Precio al contado</h5>
                    <h6>S/ 829</h6>
                </div> -->
                <div class="row">
                    <a href="equipos/motorolla" class="btn btn-link col-6">Detalles</a>
                    <a href="#" class="btn btn-primary d-inline-block">Lo quiero</a>
                </div>
            </div>

            <div class="product-card col-6 col-md-3">
                <div class="product-image">
                    <%= image_tag "equipo3.jpg", html: {alt: "Imagen equipo3"} %>
                </div>
                <!--<div class="product-info">
                    <h5>Precio al contado</h5>
                    <h6>S/ 3859</h6>
                </div> -->
                <div class="row">
                    <a href="equipos/huaweip40" class="btn btn-link col-6">Detalles</a>
                    <a href="#" class="btn btn-primary  d-inline-block">Lo quiero</a>
                </div>
            </div>

        </div>
    </div>
