<div class="views">
            <div class="accordeon">
                <div class="accordeon-content tab-carac">
                    <h2 class="subtitle">
                    Características de Huawei P40 Pro
                    </h2>
                    <svg xmlns="http://www.w3.org/2000/svg" width="7" height="12" viewBox="0 0 7 12" fill="none" class="arrow-mobile" src="/images/arrow-carac.svg">
                    <path d="M1 1.00806L6 6.00006L1 10.9921" stroke="#00A9E0"></path>
                    </svg>
                </div>
            </div>

            <div class="pantalla js-pantalla carac" style="">
                        <div class="contentTab rowInverse">
                        <div class="contentTab-inner">
                        <div class="tab-text">
                        <p class="detalle">
                        </p>

	<strong>HUAWEI</strong> <strong>P40 Pro, </strong>un nuevo smartphone y gran representante de los <a href="https://catalogo.movistar.com.pe/huawei">celulares Huawei</a> ha llegado para ofrecerte la máxima experiencia en fotografía. El sistema de cámaras unificado del <strong>HUAWEI</strong> <strong>P40 Pro</strong> cuenta con <strong>cuatro cámaras fotográficas en la parte posterior</strong> de 50 MP, 40 MP, 12 MP y una Cámara de Profundidad 3D junto; además en la parte frontal tiene con una cámara de 32 MP y una cámara de profundidad, dándote la mejor experiencia en fotografía en alta definición.&nbsp; Pero esto no es todo, este equipo móvil te permite grabar videos selfie en 4K, ¡toda una revolución en imagen!</p>
<p>
	&nbsp;</p>
                                    <p></p>
                                </div>
                                <div class="img-tab">
                                    <img data-src="https://catalogo.movistar.com.pe/ArchivosUsuario/EquipoCaracteristica/p40-pro_1357_Imagen.png" alt="Huawei P40 Pro" class="loaded" src="https://catalogo.movistar.com.pe/ArchivosUsuario/EquipoCaracteristica/p40-pro_1357_Imagen.png" data-was-processed="true">
                                </div>
                            </div>
                        </div>
                        <div class="contentTab rowNormal">
                            <div class="contentTab-inner">
                                <div class="tab-text">
                                    <!-- <p class="tittle">Rompiendo esquemas</p> -->
                                    
                                    <p class="detalle">
                                        </p><p>
	El <strong>HUAWEI</strong> <strong>P40 Pro</strong> es un <strong>celular de Gama Alta</strong> excelente, ya que cuenta con un procesador de 8 núcleos, memoria RAM de 8GB, memoria interna de 256 GB y capacidad de memoria externa de hasta 256 GB, todo esto junto con su batería Li-Ion de 4200 mAh, sistema operativo 10 de Android y sensores de proximidad, luz y acelerómetro, le dan un excelente y duradero performance para que disfrutes la máxima experiencia en un solo smartphone.</p>
<p>
	&nbsp;</p>
                                    <p></p>
                                </div>
                                <div class="img-tab">
                                    <img data-src="https://catalogo.movistar.com.pe/ArchivosUsuario/EquipoCaracteristica/p40-pro_1358_Imagen.png" alt="Huawei P40 Pro" class="loaded" src="https://catalogo.movistar.com.pe/ArchivosUsuario/EquipoCaracteristica/p40-pro_1358_Imagen.png" data-was-processed="true">
                                </div>
                            </div>
                        </div>
                        <div class="contentTab rowInverse">
                            <div class="contentTab-inner">
                                <div class="tab-text">
                                    <!-- <p class="tittle">Rompiendo esquemas</p> -->
                                    
                                    <p class="detalle">
                                        </p><p>
	Y no dejemos de lado el impresionante diseño del <strong>HUAWEI</strong> <strong>P40 Pro,</strong> que cuenta con una pantalla de 6.58” con desbordamiento de cuatro curvas, resolución de 2640 x 1200 y 16.7 millones de colores brillantes. Su diseño delgado de 158.2 mm x 72.7 mm x 8.95 mm lo hace un celular elegante y aerodinámico para que te acompañe siempre a donde vayas.</p>
<p>
	&nbsp;</p>
                                    <p></p>
                                </div>
                                <div class="img-tab">
                                    <img data-src="https://catalogo.movistar.com.pe/ArchivosUsuario/EquipoCaracteristica/p40-pro_1359_Imagen.png" alt="Huawei P40 Pro" class="loaded" src="https://catalogo.movistar.com.pe/ArchivosUsuario/EquipoCaracteristica/p40-pro_1359_Imagen.png" data-was-processed="true">
                                </div>
                            </div>
                        </div>

           
                
                

                
            

                



            </div>

            <div class="accordeon tab-spec">
                <div class="accordeon-content">
                    <h2 class="subtitle">
                        Especificaciones <span>técnicas</span>
                    </h2>
                    <svg xmlns="http://www.w3.org/2000/svg" width="7" height="12" viewBox="0 0 7 12" fill="none" class="arrow-mobile" src="/images/arrow-carac.svg">
<path d="M1 1.00806L6 6.00006L1 10.9921" stroke="#00A9E0"></path>
</svg>
                </div>
            </div>
            <div class="pantalla js-pantalla spec" style="display: none;">
                <div class="content-phone-caracteristicas">


                    <div class="item-caract-1">   
                                    <div class="item-caract-subitm">
                                        <img src="/images/icon_camara.png" alt="Cámara de Fotos y Videos" class="loading" data-was-processed="true">                                    
                                        <p class="item-caract-1-title">Cámara</p>
                                        <p class="item-caract-1-des">
50 MP + 40 MP + 12 MP + Cámara de Profundidad 3D <br>                                
50x <br>                                
                                        </p>
                                    </div>
                                    <div class="item-caract-subitm">
                                        <img src="/images/icon_memoria.png" alt="Memoria del Teléfono" class="loading" data-was-processed="true">                                    
                                        <p class="item-caract-1-title">Memoria</p>
                                        <p class="item-caract-1-desc">
256 GB                                        </p>
                                    </div>
                                    <div class="item-caract-subitm">
                                        <img src="/images/icon_pantalla.png" alt="Pantalla Interna" class="loading" data-was-processed="true">                                    
                                        <p class="item-caract-1-title">Pantalla</p>
                                        <p class="item-caract-1-desc">
2640 x 1200 <br>                                
6.58" <br>                                
Pantalla táctil <br>                                
                                        </p>
                                    </div>
                                      
                   
                    </div>

                     <!-- segunda linea -->
                    <div class="item-caract-2">
                                <div class="item-caract-subitm">
                                    <img src="/images/icon_procesador.png" alt="Camara" class="loading" data-was-processed="true">                                    
                                    <p class="item-caract-1-title">Procesador</p>
                                    <p class="item-caract-1-des">
2 x 2.86 GHz + 2 x 2.36 GHz + 4 x 1.95 GHz , 8 núcleos                                    </p>
                                </div>
                                <div class="item-caract-subitm">
                                    <img src="/images/icon_SO.png" alt="Camara" class="loading" data-was-processed="true">                                    
                                    <p class="item-caract-1-title">Sistema Operativo</p>
                                    <p class="item-caract-1-desc">
Android 10 (HMS) <br>                        
                                    </p>
                                </div>
                    </div>

                    <div class="item-caract-3">
                        <div class="item-caract-3-content new-item-caract" style="border-bottom:0">
                            
                                
                                <div class="item-super-carac">
                                    <p class="titulo testing" style="color:#00A9E0">Bateria:</p>
                                    <div class="item-info">
                                        <p class="item-info-title">
                                            Batería
                                        </p>
                                        <p class="item-info-info">
                                                    <span>Duración: 23.5h (3G) <br> </span>
                                                    <span>Tiempo de Carga: 1.36h aprox. <br> </span>
                                                    <span>Tiempo en espera: '+ 100 hrs. <br> </span>
                                                    <span>Tipo de Batería: Li-Ion de 4200 mAh, Batería no extraíble <br> </span>
                                        </p>
                                    </div>
                                </div>
                                <div class="item-super-carac">
                                    <p class="titulo testing" style="color:#00A9E0">Cámara de Fotos y Videos:</p>
                                    <div class="item-info">
                                        <p class="item-info-title">
                                            Cámara de Video
                                        </p>
                                        <p class="item-info-info">
                                                    <span>Resolución: 4K <br> </span>
                                                    <span>Zoom Digital: 15X <br> </span>
                                        </p>
                                    </div>
                                </div>
                                <div class="item-super-carac">
                                    <p class="titulo testing" style="color:#00A9E0">General:</p>
                                    <div class="item-info">
                                        <p class="item-info-title">
                                            Bluetooth
                                        </p>
                                        <p class="item-info-info">
                                                    <span>Si <br></span>
                                                    <span>Versión: 5.1 <br> </span>
                                        </p>
                                    </div>
                                </div>
                                <div class="item-super-carac">
                                    <p class="titulo testing" style="color:#00A9E0">Mensajeria
:</p>
                                    <div class="item-info">
                                        <p class="item-info-title">
                                            Correo Electrónico
                                        </p>
                                        <p class="item-info-info">
                                                    <span>Si <br></span>
                                                    <span>Sincronización con servidores: POP3 / IMAP4 / Exchange <br> </span>
                                                    <span>Soporta cuentas: Si <br> </span>
                                        </p>
                                    </div>
                                </div>
                                <div class="item-super-carac">
                                    <p class="titulo testing" style="color:#00A9E0">Otros:</p>
                                    <div class="item-info">
                                        <p class="item-info-title">
                                            Radiación No Ionizante
                                        </p>
                                        <p class="item-info-info">
                                                    <span>&lt;1.6 W/kg <br></span>
                                        </p>
                                    </div>
                                </div>
                                <div class="item-super-carac">
                                    <p class="titulo testing" style="color:#00A9E0">Pantalla Interna
:</p>
                                    <div class="item-info">
                                        <p class="item-info-title">
                                            Pantalla Interna
                                        </p>
                                        <p class="item-info-info">
                                                    <span>Resolucion: 2640 x 1200 <br> </span>
                                                    <span>Tamaño: 6.58" <br> </span>
                                                    <span>Tipo: Pantalla táctil <br> </span>
                                        </p>
                                    </div>
                                </div>
                                <div class="item-super-carac">
                                    <p class="titulo testing" style="color:#00A9E0">Redes y Conectividad
:</p>
                                    <div class="item-info">
                                        <p class="item-info-title">
                                            2G
                                        </p>
                                        <p class="item-info-info">
                                                    <span>Bandas: 850 / 1900 <br> </span>
                                                    <span>Tecnologia: GSM / GPRS / EDGE <br> </span>
                                        </p>
                                    </div>
                                </div>
                                <div class="item-super-carac">
                                    <p class="titulo testing" style="color:#00A9E0">Software y Hardware
:</p>
                                    <div class="item-info">
                                        <p class="item-info-title">
                                            Procesador
                                        </p>
                                        <p class="item-info-info">
                                                    <span>2 x 2.86 GHz + 2 x 2.36 GHz + 4 x 1.95 GHz , 8 núcleos <br></span>
                                        </p>
                                    </div>
                                </div>
                                <div class="item-super-carac">
                                    <p class="titulo testing" style="color:#00A9E0">Tamaño y Peso
:</p>
                                    <div class="item-info">
                                        <p class="item-info-title">
                                            Dimensiones
                                        </p>
                                        <p class="item-info-info">
                                                    <span>158.2 mm x 72.6 mm x 8.95 mm <br></span>
                                        </p>
                                    </div>
                                </div>
                            
                            
                                <div class="item-info" style="display:none">
                                    <p class="item-info-title">2G</p>
                                    <p class="item-info-info">

                                            <span>Bandas: 850 / 1900 <br> </span>
                                            <span>Tecnologia: GSM / GPRS / EDGE <br> </span>
                                    </p>
                                </div>
                                <div class="item-info" style="display:none">
                                    <p class="item-info-title">3G</p>
                                    <p class="item-info-info">

                                            <span>Bandas: 850 / 1900 <br> </span>
                                            <span>Tecnologia: HSDPA / HSUPA / HSPA+ <br> </span>
                                    </p>
                                </div>
                                <div class="item-info" style="display:none">
                                    <p class="item-info-title">4G</p>
                                    <p class="item-info-info">

Si                                            <span>Bandas: FDD LTE: B2, B4, B5, B28 <br> </span>
                                    </p>
                                </div>
                                <div class="item-info" style="display:none">
                                    <p class="item-info-title">Alerta Vibratoria</p>
                                    <p class="item-info-info">

Si                                    </p>
                                </div>
                                <div class="item-info" style="display:none">
                                    <p class="item-info-title">Altavoz</p>
                                    <p class="item-info-info">

Si                                    </p>
                                </div>
                                <div class="item-info" style="display:none">
                                    <p class="item-info-title">Batería</p>
                                    <p class="item-info-info">

                                            <span>Duración: 23.5h (3G) <br> </span>
                                            <span>Tiempo de Carga: 1.36h aprox. <br> </span>
                                            <span>Tiempo en espera: '+ 100 hrs. <br> </span>
                                            <span>Tipo de Batería: Li-Ion de 4200 mAh, Batería no extraíble <br> </span>
                                    </p>
                                </div>
                                <div class="item-info" style="display:none">
                                    <p class="item-info-title">Bluetooth</p>
                                    <p class="item-info-info">

Si                                            <span>Versión: 5.1 <br> </span>
                                    </p>
                                </div>
                                <div class="item-info" style="display:none">
                                    <p class="item-info-title">Cámara de Fotos</p>
                                    <p class="item-info-info">

Toma panorámica                                            <span>Flash: Si <br> </span>
                                            <span>Resolución: 50 MP + 40 MP + 12 MP + Cámara de Profundidad 3D <br> </span>
                                            <span>Zoom Digital: 50x <br> </span>
                                    </p>
                                </div>
                                <div class="item-info" style="display:none">
                                    <p class="item-info-title">Cámara de Video</p>
                                    <p class="item-info-info">

                                            <span>Resolución: 4K <br> </span>
                                            <span>Zoom Digital: 15X <br> </span>
                                    </p>
                                </div>
                                <div class="item-info" style="display:none">
                                    <p class="item-info-title">Cámara frontal</p>
                                    <p class="item-info-info">

Si                                            <span>Resolución: 32 MP + Camara de Profundidad <br> </span>
                                    </p>
                                </div>
                                <div class="item-info" style="display:none">
                                    <p class="item-info-title">Conectividad USB</p>
                                    <p class="item-info-info">

Si                                    </p>
                                </div>
                                <div class="item-info" style="display:none">
                                    <p class="item-info-title">Correo Electrónico</p>
                                    <p class="item-info-info">

Si                                            <span>Sincronización con servidores: POP3 / IMAP4 / Exchange <br> </span>
                                            <span>Soporta cuentas: Si <br> </span>
                                    </p>
                                </div>
                                <div class="item-info" style="display:none">
                                    <p class="item-info-title">Dimensiones</p>
                                    <p class="item-info-info">

158.2 mm x 72.6 mm x 8.95 mm                                    </p>
                                </div>
                                <div class="item-info" style="display:none">
                                    <p class="item-info-title">GPS</p>
                                    <p class="item-info-info">

Si                                    </p>
                                </div>
                                <div class="item-info" style="display:none">
                                    <p class="item-info-title">Grabadora de Voz</p>
                                    <p class="item-info-info">

Si                                    </p>
                                </div>
                                <div class="item-info" style="display:none">
                                    <p class="item-info-title">Memoria del Teléfono</p>
                                    <p class="item-info-info">

                                            <span>Capacidad: 256 GB <br> </span>
                                    </p>
                                </div>
                                <div class="item-info" style="display:none">
                                    <p class="item-info-title">NFC</p>
                                    <p class="item-info-info">

Si                                    </p>
                                </div>
                                <div class="item-info" style="display:none">
                                    <p class="item-info-title">Pantalla Interna</p>
                                    <p class="item-info-info">

                                            <span>Resolucion: 2640 x 1200 <br> </span>
                                            <span>Tamaño: 6.58" <br> </span>
                                            <span>Tipo: Pantalla táctil <br> </span>
                                    </p>
                                </div>
                                <div class="item-info" style="display:none">
                                    <p class="item-info-title">Peso</p>
                                    <p class="item-info-info">

209 gr.                                    </p>
                                </div>
                                <div class="item-info" style="display:none">
                                    <p class="item-info-title">Procesador</p>
                                    <p class="item-info-info">

2 x 2.86 GHz + 2 x 2.36 GHz + 4 x 1.95 GHz , 8 núcleos                                    </p>
                                </div>
                                <div class="item-info" style="display:none">
                                    <p class="item-info-title">Radiación No Ionizante</p>
                                    <p class="item-info-info">

&lt;1.6 W/kg                                    </p>
                                </div>
                                <div class="item-info" style="display:none">
                                    <p class="item-info-title">Reproductor de música</p>
                                    <p class="item-info-info">

Si                                    </p>
                                </div>
                                <div class="item-info" style="display:none">
                                    <p class="item-info-title">Sincronizacion con PC</p>
                                    <p class="item-info-info">

Si                                    </p>
                                </div>
                                <div class="item-info" style="display:none">
                                    <p class="item-info-title">Sistema Operativo</p>
                                    <p class="item-info-info">

Android                                            <span>Versión: Android 10 (HMS) <br> </span>
                                    </p>
                                </div>
                                <div class="item-info" style="display:none">
                                    <p class="item-info-title">Wi-fi</p>
                                    <p class="item-info-info">

Si                                    </p>
                                </div>
                                                        
                        </div>

                    </div>

                    <a class="js-button-mas-espec"><span class="ico-plus-c">+</span> Ver más especificaciones </a>
                    
                </div>

                
            </div>
                        <div class="accordeon tab-hms">
                <div class="accordeon-content">
                    <h2 class="subtitle">
                        Huawei HMS
                    </h2>
                    <svg xmlns="http://www.w3.org/2000/svg" width="7" height="12" viewBox="0 0 7 12" fill="none" class="arrow-mobile" src="/images/arrow-carac.svg">
<path d="M1 1.00806L6 6.00006L1 10.9921" stroke="#00A9E0"></path>
</svg>
                </div>
            </div>
            <div class="pantalla js-pantalla hms" style="display: none;">
                <div class="content-phone-caracteristicas">
                
                    <div class="content_hms">
                    <img src="/images/iconos_huawei_hms.png" alt="Pantalla" class="img_hms loading" data-was-processed="true">
                    
                        <div class="item-caract-subitm">
                        <p class="texto_hms">
                        Este equipo <strong>HUAWEI</strong> está basado en Android y cuenta con <strong>HMS (Servicios Móviles de HUAWEI).</strong>  Este equipo no cuenta con <strong> GMS (Servicios Móviles de Google)</strong> , esto puede ocasionar que algunas aplicaciones de terceros no funcionen correctamente.  
                        </p>
                        <br>
                        <p class="texto_hms">
                        Además te ofrece la nueva <strong>HUAWEI AppGallery</strong> (tienda oficial de aplicaciones de HUAWEI) la cual te brinda acceso a un nuevo mundo de aplicaciones y servicios que puedes descargar directamente en tu dispositivo <strong>HUAWEI.</strong>
                        </p>
                        <br>
                        <p class="texto_hms">
                        Para transferir datos y aplicaciones desde su dispositivo en dispositivos <strong>HUAWEI</strong>.
                        anterior a su nuevo <strong>HUAWEI</strong>, recomendados utilizar la aplicación <strong>HUAWEI Phone Clone</strong> preinstalada.
                        </p>                    
                        <p class="texto_hms">
                        Más información sobre cómo instalar aplicaciones está disponible aquí <a href="https://consumer.huawei.com/pe/support/conocehms/" target="_blank">https://consumer.huawei.com/pe/support/conocehms/</a>, a través de la línea directa de servicio de <strong>HUAWEI</strong> al <strong>0800 000 85</strong> o al número de <strong>WhatsApp 900 040 672.</strong>
                        </p>                        
                        <p class="texto_hms">
                        Para mayor información ingresa a <a href="https://consumer.huawei.com/pe">https://consumer.huawei.com/pe</a>
                        </p>
    
                        </div>
                        <img src="/images/app_galery_huawei.png" alt="Pantalla" class="img_app">
                    </div>
                </div>
            </div>
            <div class="accordeon tab-masinfo">
                <div class="accordeon-content">
                    <h2 class="subtitle">
                        Más Información
                    </h2>
                    <svg xmlns="http://www.w3.org/2000/svg" width="7" height="12" viewBox="0 0 7 12" fill="none" class="arrow-mobile" src="/images/arrow-carac.svg">
<path d="M1 1.00806L6 6.00006L1 10.9921" stroke="#00A9E0"></path>
</svg>
                </div>
            </div>
            <div class="pantalla js-pantalla masinfo" style="display: none;">
                <div class="moreinfo-container">

                    <div class="row">
                        <div class="col-xs-12 moreinfo__message text-center">
                            <span>Desde Telefónica queremos trasladar a nuestros clientes la información relevante en relación con los terminales Huawei y su relación con Google.</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="moreinfo-block-blue">
                                <div class="row no-gutters">
                                    <div class="col-xs-12 col-md-1 moreinfo-block-blue__elem-1">
                                        <img class="moreinfo-block-blue__img" src="/images/ico_estrellita.png">
                                    </div>
                                    <div class="col-xs-12 col-md-11">
                                        <img class="moreinfo-block-blue__img-mobile loading" src="/images/ico_estrellita.png" data-was-processed="true">
                                        <h4 class="moreinfo-block-blue__title">Prioritario</h4>
                                        <p class="moreinfo-block-blue__description">Nuestro <b>objetivo principal</b> como Telefónica es que nuestros clientes cuenten con toda la <b>información disponible</b> en estos momentos de una <b>forma transparente</b> para que puedan tomar decisiones informadas.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row moreinfo-about">
                        <div class="col-xs-12 col-md-4 moreinfo-about__elem-1">
                            <h4>Muy Importante:</h4>
                            <p>Qué debes saber sobre los nuevos teléfonos Huawei*</p>
                        </div>

                        <div class="col-xs-12 col-md-4 moreinfo-about__elem-2">
                            <img src="/images/P40s3.png" class="loading" data-was-processed="true">
                        </div>

                        <div class="col-xs-12 col-md-4 moreinfo-about__elem-3">
                            <p>Los últimos teléfonos App Gallery de Huawei están basados en Android, pero no incluyen aplicaciones de Google como Play Store, Gmail, Youtube, Google Maps o Google Photos al no disponer de licencia</p>
                            <br>
                            <p>En su lugar, Huawei ofrece una serie de aplicaciones y servicios, como la tienda de aplicaciones App Gallery, que contiene un número creciente de aplicaciones y contenidos.</p>
                        </div>
                    </div>

                    <div class="row moreinfo-ask">
                        <div class="col-xs-12 col-md-6 moreinfo-ask__item">
                            <span class="moreinfo-ask__number">1.</span>
                            <h6 class="moreinfo-ask__title">¿Dónde puedo conseguir las aplicaciones que uso actualmente en mi teléfono?</h6>
                            <p class="moreinfo-ask__description">El teléfono viene precargado con la tienda App Gallery.
                        Por favor, comprueba la disponibilidad de tus app favoritas en la unidad de demo, a través de internet o de un promotor ya que aún no están todas disponibles.</p>
                        </div>
                        <div class="col-xs-12 col-md-6 moreinfo-ask__item">
                            <span class="moreinfo-ask__number">2.</span>
                            <h6 class="moreinfo-ask__title">¿Puedo acceder a los servicios de Google en este teléfono?</h6>
                            <p class="moreinfo-ask__description">Las aplicaciones de Google para Android no están disponibles para estos teléfonos. Sin embargo, puedes acceder a las versiones web de muchos de los servicios Google a través del navegador, aunque las funcionalidades de las versiones web y Android pueden variar.</p>
                        </div>
                        <div class="col-xs-12 col-md-6 moreinfo-ask__item">
                            <span class="moreinfo-ask__number">3.</span>
                            <h6 class="moreinfo-ask__title">¿Qué es HMS?</h6>
                            <p class="moreinfo-ask__description">HMS es el nombre que recibe el nuevo ecosistema de Huawei que engloba tanto aplicaciones como servicios y su tienda App Gallery.</p>
                        </div>
                        <div class="col-xs-12 col-md-6 moreinfo-ask__item">
                            <span class="moreinfo-ask__number">4.</span>
                            <h6 class="moreinfo-ask__title">¿Cómo descargar las aplicaciones de Movistar?</h6>
                            <p class="moreinfo-ask__description">No todas las aplicaciones de Movistar están en la App Gallery en este momento. Para algunos servicios puedes usar la versión web a través del navegador www.movistar.com</p>
                        </div>
                        <div class="col-xs-12 col-md-6 moreinfo-ask__item">
                            <span class="moreinfo-ask__number">5.</span>
                            <h6 class="moreinfo-ask__title">¿Soportan estos teléfonos todos mis accesorios y periféricos?</h6>
                            <p class="moreinfo-ask__description">Si actualmente utilizas tu teléfono para conectarte a otros dispositivos (banda, TV, altavoz inteligente...), comprueba antes que la aplicación correspondiente está disponible en App Gallery o contacta con el servicio de atención al cliente de Huawei para asegurar su compatibilidad.</p>
                        </div>
                        <div class="col-xs-12 col-md-6 moreinfo-ask__item">
                            <span class="moreinfo-ask__number">6.</span>
                            <h6 class="moreinfo-ask__title">¿Cómo puedo transferir mis datos?</h6>
                            <p class="moreinfo-ask__description">Huawei ofrece aplicaciones que te permiten transferir la mayoría de tus datos(imágenes, música, contactos,SMS,etc) de un teléfono a otro. Sin embargo su uso para la transferencia de aplicaciones no es la mejor solución ya que puede haber problemas de compatibilidad y actualización de las apps.</p>
                        </div>
                    </div>

                    <div class="row moreinfo-more">
                        <div class="col-xs-12 moreinfo-more__title">
                            <h4>Para obtener más información puedes visitar:</h4>
                        </div>
                        <div class="col-xs-12 moreinfo-more__item">
                            <h5>HuaweiFAQ:</h5>
                            <a href="https://consumer.huawei.com/es/press/news/2019/Dudas-sobre-HUAWEI-Mate-30-Pro-HUAWEI-responde/" target="_blank" rel="nofollow">https://consumer.huawei.com/es/press/news/2019/Dudas-sobre-HUAWEI-Mate-30-Pro-HUAWEI-responde/</a>
                        </div>
                        <div class="col-xs-12 moreinfo-more__item">
                            <h5>Huawei App Gallery:</h5>
                            <a href="https://consumer.huawei.com/es/mobileservices/appgallery/" target="_blank" rel="nofollow">https://consumer.huawei.com/es/mobileservices/appgallery/</a>
                        </div>
                        <div class="col-xs-12 moreinfo-more__item">
                            <h5>Google post sobre los servicios de Google en terminales HMS:</h5>
                            <a href="https://support.google.com/android/thread/2943011?hl=en" target="_blank" rel="nofollow">https://support.google.com/android/thread/2943011?hl=en</a>
                        </div>
                    </div>

                    <div class="row moreinfo-logo">
                        <div class="col-xs-12 text-center">
                            <img src="/images/movistar-green-mayo.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>