<!DOCTYPE html>
<html>
<head>

</head>
<body>
<div class="views">
            <div class="accordeon">
                <div class="accordeon-content tab-carac">
                    <h2 class="subtitle">
                    DETALLES MOTO G8 POWER
                    </h2>
                    <svg xmlns="http://www.w3.org/2000/svg" width="7" height="12" viewBox="0 0 7 12" fill="none" class="arrow-mobile" src="/images/arrow-carac.svg">
                    </svg>
                </div>
            </div>

	<strong>Moto G8 Power,&nbsp;</strong>
un nuevo smartphone ha llegado al mercado para demostrar toda su potencia. Cuenta con cuatro cámaras en la parte posterior de 16 MP, 08 MP, 08 MP y 02 MP que te permitirán capturar todos los detalles en alta definición gracias a su Zoom de 8x. En cuanto a su cámara frontal, no tiene nada que envidiarle a otros equipos, ya que cuenta con 16 MP que le dan mayor nitidez a tus selfies de día o de noche gracias a la tecnología Quad Pixel con más sensibilidad a la luz.
</p>
    <p>
	&nbsp;
    </p>
    <p></p>
    </div>
    <div class="img-tab">
        <%= image_tag "ejemplomoto1.png", html: {alt: "Moto G8 Power"} %>
    </div>
    </div>
    </div>
    <div class="contentTab rowNormal">
    <div class="contentTab-inner">
    <div class="tab-text">
                        
    <p class="detalle">
    </p><p>
	Y no dejemos de lado el impresionante sonido del&nbsp;<strong>Moto G8 Power</strong>&nbsp;más claro y potente<strong>,&nbsp;</strong>que junto con su pantalla Max visión de 6.4” te harán disfrutar al máximo tus películas o videojuegos. Además, su diseño delgado de 157.95 mm x 75.84 mm x 9.63 mm lo hace un equipo móvil aerodinámico y perfecto para que te acompañe siempre a donde vayas.</p>
    <p>
	&nbsp;</p>
                                    <p></p>
                                </div>
                                <div class="img-tab">
        <%= image_tag "ejemplomoto2.png", html: {alt: "Moto G8 Power"} %>
                                </div>
                            </div>
                        </div>
                        <div class="contentTab rowInverse">
                            <div class="contentTab-inner">
                                <div class="tab-text">
                                    <!-- <p class="tittle">Rompiendo esquemas</p> -->
                                    
                                    <p class="detalle">
                                        </p><p>
	<p>
	El&nbsp;<strong>Motorola Moto G8 Power</strong>&nbsp;es un celular de Gama media que sobre sale por su gran rendimiento, ya que cuenta con un procesador de 8 núcleos, memoria RAM de 4GB, memoria interna de 64 GB y capacidad de memoria externa de hasta 512 GB, todo esto junto con su característica más resaltante, su batería Li-Ion de 5000 mAh, le dan un excelente y duradero performance para que disfrutes la máxima experiencia sin desconectarte nunca.</p>
	&nbsp;</p>
                                    <p></p>
                                </div>
                                 <div class="img-tab">
        <%= image_tag "ejemplomoto3.png", html: {alt: "Moto G8 Power"} %>
                                </div>
                            </div>
                        </div>

 <br>

 <div class="col-4">
    <iframe width="700" height="400" src="https://www.youtube.com/embed/UIiYkRv62do" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>  
  </div>  

</body>
</html>            



