<!DOCTYPE html>
<html>
<head>

</head>
<body>
<div class="views">
            <div class="accordeon">
                <div class="accordeon-content tab-carac">
                    <h2 class="subtitle">
                    DETALLES SAMSUNG A51
                    </h2>
                    <svg xmlns="http://www.w3.org/2000/svg" width="7" height="12" viewBox="0 0 7 12" fill="none" class="arrow-mobile" src="/images/arrow-carac.svg">
                    </svg>
                </div>
            </div>

    <p>
    El nuevo celular <strong>Samsung Galaxy A51 </strong>te asombrará con su pantalla completa Infinity-O,<strong> la mejor experiencia visual que podías desear en una pantalla panorámica de 6.5” </strong>con resolución de 2400 x 1080.&nbsp; Su cámara de video Ultra HD cuenta con resolución 4K. Además, en cuanto a fotografía, cuenta con cuatro cámaras posteriores de 48 MP + 12 MP + 05 MP + 05 MP que junto con su cámara frontal de 32 MP te permitirán registrar los mejores momentos de tu vida a gran definición.
    </p><p>
    &nbsp;
    </p>
    <p></p>
    </div>
    <div class="img-tab">
        <%= image_tag "ejemploa501.png", html: {alt: "Samsung A50"} %>
    </div>
    </div>
    </div>
    <div class="contentTab rowNormal">
    <div class="contentTab-inner">
    <div class="tab-text">
                        
    <p class="detalle">
    </p><p>
    El nuevo celular <strong>Samsung Galaxy A51 </strong>te asombrará con su pantalla completa Infinity-O,<strong> la mejor experiencia visual que podías desear en una pantalla panorámica de 6.5” </strong>con resolución de 2400 x 1080.&nbsp; Su cámara de video Ultra HD cuenta con resolución 4K. Además, en cuanto a fotografía, cuenta con cuatro cámaras posteriores de 48 MP + 12 MP + 05 MP + 05 MP que junto con su cámara frontal de 32 MP te permitirán registrar los mejores momentos de tu vida a gran definición.</p>
    <p>
    &nbsp;</p>
                                    <p></p>
                                </div>
                                <div class="img-tab">
        <%= image_tag "ejemploa502.png", html: {alt: "Samsung A50"} %>
                                </div>
                            </div>
                        </div>
                        <div class="contentTab rowInverse">
                            <div class="contentTab-inner">
                                <div class="tab-text">
                                    <!-- <p class="tittle">Rompiendo esquemas</p> -->
                                    
                                    <p class="detalle">
                                        </p><p>
    <p>
    La perfecta estética del <strong>Samsung Galaxy A51 mantiene todos los rasgos fieles de los celulares Galaxy</strong>, con medidas de 158.5 mm x 73.6 mm x 7.9 mm y peso de 172 gramos ofreciéndote un equipo delgado y de fácil manejo con en una espectacular pantalla.</p>
                                    <p></p>
                                </div>
                                 <div class="img-tab">
        <%= image_tag "ejemploa503.png", html: {alt: "Samsung A50"} %>
                                </div>
                            </div>
                        </div>

 <br>

 <div class="col-4">
    <iframe width="700" height="400" src="https://www.youtube.com/embed/NwFvlwe7HPo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>  
  </div>   

</body>
</html>         



