<br>
       <h2 class="subtitle">
                    DETALLES SAMSUNG GALAXY S10 PLUS
                    </h2>
<div class="row mt-3">

    <div class="col-9">
    El <strong>Samsung S10+</strong> viene con la versión Android 9, procesador de 8 núcleos de 2,7 GHz, 2,3 GHz y 1,9 GHz, y batería Li – Ion de 4,100 mAh (extraíble) la cual te garantiza un rendimiento inigualable. La impresionante resolución de la pantalla es de 3040 x 1440 píxeles (Quad HD+) y 6.4” de tamaño, que no solo amplía tus fotos y videos, sino tu visión al mundo.

    </div>
     <div class="col-3">
        <%= image_tag "ejemplogalaxy1.png", html: {alt: "Samsung Galaxys10Plus"} %>
    </div>
   
</div>

<div class="row mt-3">
  
    <div class="col-4">
        <%= image_tag "ejemplogalaxy2.png", html: {alt: "Samsung Galaxys10Plus"} %>
    </div>

    <div class="col-8">
    El <strong>Samsung S10+ </strong>presenta todas las características de un celular exclusivo. El peso es de 175 gramos y sus dimensiones son de 157.6 mm x 74.1 mm x 7.8 mm. &nbsp;Cuenta con sensores de proximidad, de luz y que detecta movimientos. La memoria es de 128 GB y 8 GB de memoria RAM. Si deseas expandir la memoria tienes hasta 512 GB para almacenar todos tus recuerdos.
    </div> 

</div>


<div class="row mt-3 mb-4">

    <div class="col-9">
    Un celular de gama alta que ha llegado para revolucionar el mercado. Ahora podrás disfrutar de la multicámara del&nbsp;<strong>Samsung S10+</strong>&nbsp;que tiene hasta 123 grados de visión y 12 MP, 16 MP y 12 MP, respectivamente en sus cámaras posteriores, para que obtengas la máxima resolución y calidad en tus fotos. ¿Quieres espectaculares selfies y con la mejor calidad? Las cámaras frontales cuentan con 10 MP y 8 MP.
    </div>

    <div class="col-3">
        <%= image_tag "ejemplogalaxy3.png", html: {alt: "Samsung Galaxys10Plus"} %>
    </div>
</div>




 <br>

  <div class="text-center m-auto ">
    <h2>Videos</h2>
    <iframe width="700" height="400" src="https://www.youtube.com/embed/VqpZKflGw4Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>  
         
        
