// Place all the styles related to the shop controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import 'frontend/banner';
@import 'frontend/category';

.card-product__img {
    height: 316px;
    position: relative;
    
    .card-img {
        vertical-align: middle;
    }
}