

<div class="row">
    <div class="col-12">
        <div class="card">

            <div class="card-header">
                <div class="card-title">Nuevo Plan</div>

            </div>
            <div class="card-body">
                <%= render 'form', plan: @plan %>

            </div>
        </div>
    
    </div>
</div>

<%= link_to 'Volver', plans_path, class: 'btn btn-link' %>
