
<li class='<%= active_class(page_login_path) %>'><%= link_to "Login", page_login_path, :class => "nav-item nav-link" %></li>
<li class='<%= active_class(page_registrate_path) %>'><%= link_to "Registrate", page_registrate_path, :class => "nav-item nav-link" %></li>